@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
html{
  overflow-x:hidden;
}
/* html {
  font-size: 62.5%;
} */

/* media Querys  */
/* @media screen and (max-width:960px) {
  html{
    font-size:55%;
  }
}
@media screen and (max-width:768px) {
  html{
    font-size:52%;
  }
}
@media screen and (max-width:400px) {
  html{
    font-size:50%;
  }
} */